* {
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(224, 255, 203);
}

nav {
    background-color: rgb(224, 255, 203);
    filter: blur(100);
    height: 45px;
    width: 100%;
    position: fixed;

}

.logo{
    height: 40px;
    margin-left: 20px;

}

.navbut {
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9px;
    display: inline;
    position: relative;
    font-weight: 400;
    top: 16px;

}
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 18px;
}
.rightarr{
    height: 8px;
    position: relative;
    top: 1px;
left: 3px;}
.loadicon{
    height: 12px;
    position: relative;
    top: 1px;
left: 3px;

}

.logbutton{
    width: 60px;
    height: 26px;
    border-radius: 30px;
    border: 4px;
    position: relative;
    top:8px;
    font-size: 8px;
    border: 1px solid rgb(122, 121, 121);
}
.downloadbutton{
    width: 64px;
    height: 26px;
    border-radius: 30px;
    border: 4px;
    position: relative;
    top:8px;
    font-size: 8px;
    background-color: rgba(19, 216, 19, 0.582);
        border: 1px solid rgb(122, 121, 121);
        text-align: center;
}
.dline{
    position: relative;
    display: inline;
    bottom: 2px;
}
.navbuttons{
    display: flex;
    gap: 10px
    ;
}
.bodyline{
    position: relative;
    top: 60px;
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;

}
.dwline{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    margin-left: 35px;
}
.tagline{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    margin-left: 35px;
    font-size: 10px;
}

