* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    margin-top: 20vh;
}

.tictac {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin:10px;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    color: black;
    font-size: 45px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.winwwerclass{
    background-color: aquamarine;
}